.jumbotron
  %h1 January blog
  %p Blog about people who want change their lifestyle

.text-center
  %h2 Are you come here for
  = link_to 'reading', blogs_path, class: 'btn btn-default'
  or
  = link_to 'writing', new_user_registration_path, class: 'btn btn-info'
  ?
